<h3>友達一覧</h3>
<h2>プロフィール</h2>
<p> <%= link_to 'プロフィール編集','/' %> <p>
<ul id="chat-index">
  <% @text.each do |message| %>
  <li><%= message.text %></li>
  <% end %>
</ul>
<%= form_tag("/home/create") do %>
  <input id="chat-form" type="text" data-behavior="chat_post" name="message" value="入力">
<% end %>


