/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*友達一覧*/
 h3 {    position: relative;
    top: 10px;
    left: 100px;
    font-size: 40px ;
    font-family: 'Sawarabi Mincho', sans-serif;
 }

 .maru-box{    position: absolute;
   top: -5px;
   left: 210px;
   font-size: 15px;
    margin: 1em 0;
    padding: 1em;
    background-color: #fce4ec;
    border-radius: 10px;
  }

 /*プロフィール*/
 .plf {    position: absolute;
    top: 100px;
    left: 920px;
    font-size: 40px ;
 }

 .filename {    position: absolute;
    top: 180px;
    left: 890px;
}

.name {    position: absolute;
    top: 550px;
    left: 1020px;
}

 /*＋マッチングのところ*/
 .matching_button {    position: absolute;
    top: 610px;
    left: 100px;
    font-size: 40px ;
 }

 /*プロフィール編集ボタン*/
 .plf_button {    position: absolute;
    top: 620px;
    left: 900px;
    font-size: 40px ;
 }

 .top {
    background:linear-gradient(90deg,white 0%,white 40%,#c0c0c0 40%,#c0c0c0 100%);
    /*background-color: #CCCCCC;*/
    top: 570px;
    left: 1030px;
 }

 .a {
   position: relative;
   top: 100px;
   left: 1060px;
 }
  /*マッチングした人一覧CSS*/
 .demo {
   width: 500px;
   margin: 0 auto;
   padding: 10px 0;
   font-family: sans-serif;
   font-size: 20px;
   color:#3cb3e4;
 }
 .heading {
   margin: 10px 0
 }
 .demo4 .heading {
   padding: 15px 5px;
   margin: 10px -20px;
   border: solid 3px #3cb3e4;
   position:relative;
   text-align: center;
   border-radius: 3px;
   background: #fff;
 }
 .demo4 .heading:after,
 .demo4 .heading:before {
   content: '';
   position: absolute;
   bottom: -7px;
   background: #3cb3e4;
   border: solid 2px #3cb3e4;
   width: 25px;
   height: 20px;
   z-index: -1;
 }
 .demo4 .heading:after {
      left: 2px;
      transform: rotate(120deg);
 }
 .demo4 .heading:before {
     right: 2px;
     transform: rotate(60deg);
 }




 .plfed {
   width: 500px;
   margin: 0 auto;
   padding: 10px 0;
   font-family: sans-serif;
   font-size: 20px;
   color:#3cb3e4;
 }
 .ribbon {
   margin: 10px 0
 }
 .plfed2 .ribbon {
   padding: 15px 5px;
   margin: 10px -20px;
   border: solid 3px #3cb3e4;
   position:relative;
   text-align: center;
   border-radius: 3px;
   background: #fff;
 }
 .plfed2 .ribbon:after,
 .plfed2 .ribbon:before {
   content: '';
   position: absolute;
   bottom: -7px;
   background: #3cb3e4;
   border: solid 2px #3cb3e4;
   width: 25px;
   height: 20px;
   z-index: -1;
 }
 .plfed2 .ribbon:after {
      left: 2px;
      transform: rotate(120deg);
 }
 .plfed2 .ribbon:before {
     right: 2px;
     transform: rotate(60deg);
 }

